@{
    ViewData["Title"] = "Contact";
}
<link rel="stylesheet" href="~/css/speaker.css" />

<div class="main">
    <div class="container">
        <div class="col-sm-12 col-md-12 well" id="contentTerminator">
            <div class='console-container'><span id='terminatorsTerminal'></span><div class='console-underscore' id='console'>&#95;</div></div>

        </div>
        <div class="col-sm-12 col-md-12">
            <div class="middle">
                <img src="~/images/ok.gif" id="smile" alt="LOGO" />
            </div>
        </div>
        <audio autoplay src="~/images/ending.mp3"></audio>
    </div>
</div>





<script>
    consoleText(['Se termino... me ganaste.... o tal vez no.... GOBLAL AZURE BOOTCAMP 2019 - BARCELONA'], 'terminatorsTerminal'); 
</script>